/*Nord Theme - https://gist.github.com/rien333/8ec3528c3ab3160cde86e9cf2c0429fa (NOT FULL OF IT)*/
* {
	border-color: #88c0d0 !important;
}

a {
	color: #eef1f6 !important;
}

a:visited {
	color: #eef1f6 !important;
}

body {
	background-color: #2e3440 !important;
	color: #d8dee9 !important;
}


/*--------------------------------------------------------*/


/*My own CSS*/
header {
	left: 25%;
	text-align: center;
	font-size: 20px;
}

#name {
	font-size: 50px;
	font-weight: 700;
}

#bio {
	font-size: 25px;
}

.hdev ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.hdev li {
	display: inline;
}

a {
	text-decoration: none;
	font-weight: 700;
	font-style: italic;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	border-width: 4px;
	border-style: dashed;
}

a.active {
	font-style: italic;
	text-decoration: underline;
}

a:disabled,
a[disabled] {
	pointer-events: none;
}

.content {
	font-size: 20px;
}

button {
	border-color: #88c0d0;
	border-style: groove;
	color: #d8dee9;
	font-size: 18px;
	padding: 10px;
	background-color: #2e3440;
	font-style: italic;
	font-weight: 700;
}

button:hover {
	border-color: #2e3440;
	border-style: dashed;
	cursor: pointer;
	text-decoration: underline;
}

footer {
	font-weight: 700;
	text-align: center;
}
